{% load_yaml as template %}
haproxy:
  listen: 5.9.61.139
  
  http_to_http:
    - name: "*"
      path_beg: /.well-known/acme-challenge/
      ip: 127.0.0.1
      port: 8080
    - name: node-js-app.omoikane.ep3.at
      ip: 10.9.140.191
      port: 5000

  redirect_http_to_ssl:
    - name: "*"
      - 
      
  ssl_http_to_ssl_http:
    - name: sipwise.omoikane.ep3.at
      ip: 10.9.140.40
      port: 1443
    
  ssl_http_to_http:
    - name: openproject.omoikane.ep3.at
      ip: 10.9.140.62
      port: 5000
    - name: node-js-app.omoikane.ep3.at
      ip: 10.9.140.191
      port: 5000
    - name: seafile.omoikane.ep3.at
      path_beg: /seafhttp
      ip: 10.9.140.38
      port: 8002
    - name: seafile.omoikane.ep3.at
      ip:  10.9.140.38
      port: 8000
    - name: default
      ip: 10.9.140.1
      port: 443
  
  
  
{% endload %}
