{% load_yaml as defaults %}
builder:
  name: build-android-lineage-microg
  image: lineageos4microg/docker-lineage-cicd
  tag: latest
  type: command
  environment:
    BUILD_DATA_VOLUME: android-build-data
    BRANCH_NAME: lineage-18.1
    DEVICE_LIST: sailfish
    SIGN_BUILDS: true
    SIGNATURE_SPOOFING: restricted
    CUSTOM_PACKAGES: |
        GmsCore GsfProxy FakeStore MozillaNlpBackend NominatimNlpBackend
        com.google.android.maps.jar FDroid FDroidPrivilegedExtension
  volumes:
    - ${BUILD_DATA_VOLUME}/src:/srv/src
    - ${BUILD_DATA_VOLUME}/zips:/srv/zips
    - ${BUILD_DATA_VOLUME}/logs:/srv/logs
    - ${BUILD_DATA_VOLUME}/ccache:/srv/ccache
    - ${BUILD_DATA_VOLUME}/keys:/srv/keys
    - ${BUILD_DATA_VOLUME}/manifests:/srv/local_manifests

{% endload %}

{% set settings=salt['grains.filter_by']({'default': defaults},
    grain='default', default= 'default', merge= salt['pillar.get']('android', {})) %}
