{% load_yaml as defaults %}
origin: system
upstream:
  version: "2.2.16"
  hash:
    amd64: "a2fcd1fcc77306c997b2667b5ff4bbc23d01ba15a63bc2c80a9262e3e44a92a1"
    i386: "c1f292cd3ce96c0505dae119f2944e8f36b82857ec1df781c92a8d4d0a674633"
plugins:
  - vagrant-libvirt
  - vagrant-lxc
{% endload %}

{#
  - vagrant-gatling-rsync
  - vagrant-env
  - vagrant-proxyconf
#}

{% load_yaml as dependencies %}

vagrant-libvirt:
  build:
    - libxslt1-dev
    - libxml2-dev
    - zlib1g-dev
    - libvirt-dev
  sls:
    - libvirt
    - kernel.nfs.server

vagrant-lxc:
  sls:
    - kernel.lxc

{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('vagrant', {})) %}
