pkgbase = python-torchaudio-rocm
	pkgdesc = Data manipulation and transformation for audio signal processing, powered by PyTorch (with ROCM GPU support)
	pkgver = 0.11.0
	pkgrel = 1
	url = https://github.com/pytorch/audio
	arch = any
	license = BSD
	makedepends = git
	makedepends = python-setuptools
	makedepends = cmake
	makedepends = ninja
	makedepends = rocm-hip-sdk
	makedepends = miopen
	depends = python
	depends = sox
	depends = python-pytorch-rocm
	optdepends = python-kaldi-io
	provides = python-torchaudio
	conflicts = python-torchaudio
	conflicts = python-torchaudio-git
	source = audio-0.11.0::git+https://github.com/pytorch/audio.git#tag=v0.11.0
	sha256sums = SKIP

pkgname = python-torchaudio-rocm
