{% load_yaml as defaults %}
pillar: letsencrypt
production:
  ca: https://acme-v02.api.letsencrypt.org/directory
  oldca: https://acme-v01.api.letsencrypt.org/directory
staging:
  ca: https://acme-staging-v02.api.letsencrypt.org/directory
  oldca: https://acme-staging.api.letsencrypt.org/directory
{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('dehydrated', {})) %}

{% load_yaml as letsencrypt %}
enabled: false
staging: false
domains:
apache: false
nginx: false
contact_email: unset@example.org
hook: /usr/local/etc/dehydrated/hook-empty.sh
config:

{% endload %}

{% set letsencrypt=salt['grains.filter_by']({'none': defaults},
    grain='none', default= 'none', merge= salt['pillar.get'](settings.pillar, {})) %}
