{% load_yaml as defaults %}
container_profile:
  default:
    template: download
    options:
      dist: Ubuntu
      release: focal
      arch: {{ salt['grains.get']('osarch') }}
    backing: best

network_profile:
  default:
    eth0:
      link: br0
      type: veth
      flags: up

default:
  backing: best
  bridge_cidr: 10.0.3.1/24
  bridge_name: lxcbr0
  bridge_reservations: |
      dhcp-host=test,10.0.3.10
  bridge_domain: lxc
  container_profile: default
  network_profile: default
  lxc: |
      lxc.mount.auto= proc sys cgroup:rw:force
      # lxc.cgroup2.memory.high={{ (1024 * 1024 * 1024) / 100 * 95 }}
      lxc.cgroup2.memory.max={{ 1024 * 1024 * 1024 }}
      # cgroup2: cpuset cpu io memory pids rdma
{% endload %}

{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('lxc', {})) %}
