{% load_yaml as defaults %}
enabled: false

# bind: listen to selected interfaces by defining a space seperated list of one or more IP addresses
bind: 127.0.0.1 ::1
# port: If port 0 is specified Redis will not listen on a TCP socket.
port: 0
# unixsocket: path for the socket that will be used to listen for incoming connections.
unixsocket: /run/redis/redis.sock
unixsocketperm: 700

# working directory of the redis instance for dbfilename and optional append only file
dir /var/lib/redis
# The name of the dumpfile (relative to working directory)
dbfilename dump.rdb

# Set the number of available databases
databases: 8

# Set a memory usage limit to the specified amount of bytes.
# When the memory limit is reached Redis will try to remove keys
# according to the eviction policy selected (see maxmemory-policy).
maxmemory: 128MB

# maxmemory-policy: how Redis will select what to remove when maxmemory is reached
# noeviction=
#    return errors when the memory limit was reached and the client is
#    trying to execute commands that could result in more memory to be used
#    (most write commands, but DEL and a few more exceptions)
# allkeys-lru=
#    evict keys by trying to remove the less recently used (LRU) keys first
# allkeys-lfu=
#    evict any key using approximated LFU
# allkeys-random=
#    evict keys randomly in order to make space for the new data added
# volatile-lru=
#    evict keys by trying to remove the less recently used (LRU) keys
#    first, but only among keys that have an expire set,
#    in order to make space for the new data added
# volatile-lfu=
#    evict using approximated LFU, only keys with an expire set
# volatile-random=
#     evict keys randomly in order to make space for the
#    new data added, but only evict keys with an expire set
# volatile-ttl=
#    evict keys with an expire set, and try to evict keys with a shorter
#    time to live (TTL) first, in order to make space for the new data added
maxmemory-policy: volatile-lru


profile: []
{#
  - name: recently
    maxmemory: 256MB
    maxmemory-policy: allkeys-lru
    port: 6380
  - name: frequently
    maxmemory: 128MB
    maxmemory-policy: allkeys-lfu
    port: 6381
  - name: ttl
    maxmemory: 256MB
    maxmemory-policy: volatile-ttl
    port: 6382
  - name: permanent
    maxmemory: 128MB
    maxmemory-policy: noeviction
    port: 6383
#}
{% endload %}


{% load_yaml as profile_defaults %}
name: ""
enabled: true
# user: redis
# bind: 127.0.0.1 ::1
# port: 0
# unixsocket: /run/redis-i%/redis-server.sock
# unixsocketperm: 700
# dir: /var/lib/${user}/redis-i%
# dir_perm: 0750
# dbfilename: dump-%i.rdb
# databases: 8
# maxmemory: 128mb
# maxmemory-policy: volatile-lru
# runtime_name: redis-%i
# runtime_dir: /run/redis-%i
# runtime_perm: 2755
{% endload %}


{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('redis', {})) %}
