{% load_yaml as defaults %}
hostname: {{ grains['fqdn'] }}
domain: {{ grains['fqdn'] }}
allowed_domains: []

aliases:
  postmaster: root

incoming:
  enabled: true
  listen:
    - all
  trusted_networks:
    - 127.0.0.0/8

outgoing:
  enabled: true
  relay:
    enabled: false
    host:
    port: 587
    username:
    password:

dkim:
  enabled: false
  sign: {}
  {#
    domainname:
      selector:
      secret:
      public:
  #}

mail_spool_directory: /var/mail/
ssl_cert: /etc/ssl/certs/ssl-cert-snakeoil.pem
ssl_key: /etc/ssl/private/ssl-cert-snakeoil.key
dhparam: /etc/ssl/private/dhparam

{# set postfix to use VERTP, and use python library to parse bounce messages
https://gitlab.com/warsaw/flufl.bounce #}

bounces:
  temporary:
  permanent:

getmail:
{#
  - name: getfx
    user: getfx_sys
    enabled: true
    config: |
        [options]
        delete = true
        [retriever]
        type = SimpleIMAPSSLRetriever
        server = imap.dom.name
        username = userfx
        password = passfx
        [destination]
        type = Maildir
        path = ~/Maildir/shlhetal
#}

{% endload %}


{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('email', {})) %}
