pkgbase = python-fastcore
	pkgdesc = Python supercharged for the fastai library
	pkgver = 1.4.2
	pkgrel = 1
	url = https://github.com/fastai/fastcore
	arch = any
	license = Apache
	makedepends = python-packaging
	makedepends = python-pip
	source = fastcore-1.4.2.tar.gz::https://github.com/fastai/fastcore/archive/refs/tags/1.4.2.tar.gz
	sha512sums = 1c81e83a6da46e57f9ccd3f0303afc8547a59836f9f72d6591cae97038a8e8fe83ae878486a1391a8de09b0da5edc012389a8271ad943518a508841ad744ca70

pkgname = python-fastcore
