d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string de.archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
{% if apt_proxy_mirror != None %}
d-i mirror/http/proxy string {{ apt_proxy_mirror|d("") }}
{% endif %}
#d-i mirror/http/mirror select de.archive.ubuntu.com

