#partman
d-i partman/choose_partition select Finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true

d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/device_remove_lvm_span boolean true

d-i partman-auto/confirm    boolean true
d-i partman-auto/purge_lvm_from_device boolean true

d-i partman-auto/disk   string  {{ disks|d('/dev/vda') }}
