{% load_yaml as postgresql_per_codename %}
xenial:
  pgmajor: "9.5"
bionic:
  pgmajor: "10"
focal:
  pgmajor: "12"
hirsute:
  pgmajor: "13"
stretch:
  pgmajor: "9.6"
buster:
  pgmajor: "11"
bullseye:
  pgmajor: "13"
default:
  pgmajor: "12"
{% endload %}


{% load_yaml as defaults %}
additional_adresses: []
# list of additional allowed ip network ranges for listen and answer to queries
# listen entry is optional, answer entry is mandatory
# example:
#   - listen: 1.2.3.4
#     answer: 1.2.3.0/24
#   - listen: 2.3.4.9
#     answer: 2.3.5.9/32
#   - answer: 3.4.5.6/24

extensions:
  - pg_stat_statements

user: []
# - name: ''
#   password: ''
#   encrypted: true
#   login: true

database: []
# - name: ''
#   encoding: ''
#   template: ''
#   owner: ''
#   extensions: []

# defaults
default_encoding: UTF8
default_template: template0

# pgtune:
pgtune:
  # enabled: true: let postgresql tune its memory needs
  enabled: false
  # strategy: "use" or "leave"
  strategy: use
  # memory (strategy "use"):   <general> memory mb available to pgtune
  # memory (strategy "leave"): <general> <per-core> memory mb not available to pgtune
  memory: "1024"
  # memory: "1024 256"
  # cores: how many cores (0-9+,all) are used for calculation
  cores: all

# postgresql major version, dependend on distribution
pgmajor: {{ salt['grains.filter_by'](postgresql_per_codename,
  grain='oscodename', default= 'default').pgmajor }}

{% endload %}

{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default='default', merge= salt['pillar.get']('postgresql', {})) %}
