{% load_yaml as defaults %}
additional_adresses: []
# list of additional allowed ip network ranges to listen and answer to queries after auth
# example:
#   - listen: 1.2.3.4
#     answer: 1.2.3.0/24
#   - listen: 2.3.4.9
#     answer: 2.3.5.9/32

extensions:
  - pg_stat_statements

user: []
database: []

{# pgtune: true: let postgresql take all usable memory (- memory to be reserved)  #}
pgtune: false
{# memory mb not available to pgtune #}
pgtune_reserve_mem_general: 1024
{# memory mb per core not available to pgtune #}
pgtune_reserve_mem_per_core: 256
{# internal, major postgresql version, be careful on change #}
pgmajor: 12
{% endload %}

{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('postgresql', {})) %}
