# this is a example pillar layout

file: top.sls in pillar root
----
base:
  '*':
    - timezone
    - custom

----

file: timezone.sls in pillar root
----
timezone: Europe/Vienna

----

file: custom.sls in pillar root
----
desktop:
  user: mainusernameonthemachine
  development:
    enabled: true
  proprietary:
    enabled: true

----

