# to use this file as salt state top, copy it to top.sls in salt/custom
base:

  # ubuntu specific
  'os:Ubuntu':
    - match: grain
    - ubuntu

  # physical machine
  'virtual:physical':
    - match: grain
    - hardware

  # virtual machine
  'P@virtual:(?!physical)':
    - match: compound
    - virtual

  # any machine type (including virtual) but not on lxc (is same kernel)
  'P@virtual:(?!LXC)':
    - match: compound
    - haveged
    - kernel
    - acpi

  # any
  '*':
    - tools
    - locale
    - timezone
    - ssh


