# Ubuntu preseed file - preseed.cfg
# Works for Ubuntu 14.x .. 17.x
# NOTE: If you netboot/PXE boot Ubuntu, it will ignore the value in hostname,
# but you must provide a hostname as a boot parameter to prevent the Ubuntu
# install from prompting for a hostname

# finish, boot-manager, end-of-installation
d-i finish-install/reboot_in_progress note
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

#d-i debian-installer/exit/halt boolean true
#d-i debian-installer/exit/poweroff boolean true

