[Unit]
Description=Appliance
ConditionPathExists=!/run/appliance-failed
ConditionFileNotEmpty=/run/active-env.yml
Requires=env-prepare.service appliance-prepare.service 
After=appliance-prepare.service
OnFailure=appliance-failed@%n.service
# use `rm /run/appliance-failed; systemctl reset-failed` to recover from a failed state

[Service]
Type=oneshot
RemainAfterExit=on
TimeoutStartSec=10s
StartLimitInterval=20s
StartLimitBurst=3
Environment=UNITNAME=%n
Environment=ENV_YML=/run/active-env.yml
WorkingDirectory=/app
ExecStart=/bin/bash -c '. /usr/local/share/appliance/env.functions.sh; userdata_to_env appliance'

[Install]
WantedBy=multi-user.target
