[Unit]
Description=Environment Preparation
PartOf=appliance.service
After=network.target
ReloadPropagatedFrom=appliance.service

[Service]
Type=oneshot
RemainAfterExit=on
TimeoutStartSec=30
Environment="UNITNAME=%n"
ExecStart=/usr/local/share/appliance/prepare-env.sh
