
# packages & kernel
d-i base-installer/kernel/override-image string linux-server

#d-i pkgsel/include string openssh-server cryptsetup build-essential libssl-dev libreadline-dev zlib1g-dev linux-source dkms
d-i pkgsel/include string openssh-server ntp curl acpid
d-i pkgsel/install-language-support boolean true

# Policy for applying updates.  May be "none" (no automatic updates),
# "unattended-upgrades" (install security updates automatically)
d-i pkgsel/update-policy select unattended-upgrades
d-i pkgsel/upgrade select full-upgrade
tasksel tasksel/first multiselect standard, ubuntu-server

