[Unit]
Description=Important Service Error %I
After=network.target

[Service]
Type=simple
Environment=ENV_YML=/run/active-env.yml
ExecStart=/bin/bash -c '. /usr/local/share/appliance/env.functions.sh; userdata_to_env appliance; \
    . /usr/local/share/appliance/appliance.functions.sh; \
    extra=$(systemctl status -l -q --no-pager -n 40 %I | text2json); \
    sentry_entry "Service %I Error" "Service (%I) failed" error "$extra"'
