{% load_yaml as config %}
{% endload %}

{% load_yaml as defaults %}
trusty:
  version: "10.2"
  {{ config|dump_yaml }}
xenial:
  version: "10.2"
  {{ config|dump_yaml }}
zesty:
  version: "10.2"
  {{ config|dump_yaml }}
artful:
  version: "10.2"
  {{ config|dump_yaml }}
bionic:
  version: "10.2"
  {{ config|dump_yaml }}
{% endload %}

{% set settings = salt['grains.filter_by'](defaults, 
  grain= 'lsb_distrib_codename', default= 'xenial',
  merge= salt['pillar.get']('mariadb:version', {})) %}
