{% set user= 'k3s' %}
{% set home= '/home/'+ user %}

{% load_yaml as defaults %}
k3s_version: '1.18.2+k3s1'
rio_version: '0.7.1'
helm_version: '3.2.1'
helmfile_version: '0.116.0'
helmx_version: '0.8.0'
helmdiff_version: '3.1.1'
user: {{ user }}
home: {{ home }}
route_ip: {{ salt['cmd.run_stdout']('ip -j addr show $(ip -j route list default | sed -r \'s/.+dev":"([^"]+)".+/\\1/g\') | sed -r \'s/.+"inet","local":"([^"]+)",.+/\\1/g\'', python_shell=true) }}
state_dir: {{ home }}/{{ user }}-k3s-helmfile
{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('k3s', {})) %}
