[Unit]
Description=Backup Service using Restic
After=network-online.target {{ settings.systemd.after }}
Wants=network-online.target {{ settings.systemd.wants}}
{% if settings.systemd.requires %}
Requires={{ settings.systemd.requires }}
{% endif %}
{% if settings.systemd.onfailure %}
OnFailure={{ settings.systemd.onfailure }}
{% endif %}

[Service]
Type=oneshot
TimeoutStartSec={{ settings.maxruntime }}
User={{ settings.user }}
Group={{ settings.user }}
Environment=UNITNAME=%n
Environment=HOME={{ settings.home_dir }}
Environment=USER={{ settings.user }}
EnvironmentFile={{ settings.backup_env }}
WorkingDirectory={{ settings.home_dir }}
ExecStart=/usr/local/bin/app-backup.sh --from-systemd-service
