[Unit]
Description=Backup Service using Restic {{ '(Initial Run)' if instance_type == 'initial' }}
After=network-online.target {{ settings.systemd.after }}
Wants=network-online.target {{ settings.systemd.wants}}
{% if settings.systemd.requires %}
Requires={{ settings.systemd.requires }}
{% endif %}
{% if settings.systemd.onfailure %}
OnFailure={{ settings.systemd.onfailure }}
{% endif %}

[Service]
Type=oneshot
{% if instance_type = 'initial' %}
TimeoutStartSec={{ settings.initial_job_runtime }}
{% else %}
TimeoutStartSec={{ settings.max_job_runtime }}
{% endif %}
User={{ settings.user }}
Group={{ settings.user }}
Environment=UNITNAME=%n
Environment=HOME={{ settings.home_dir }}
Environment=USER={{ settings.user }}
EnvironmentFile={{ settings.env_file }}
WorkingDirectory={{ settings.home_dir }}
PassEnvironment=UNITNAME HOME USER RESTIC_REPOSITORY RESTIC_PASSWORD {% if settings.env %}{% for k,v in settings.env.items() %}{{ k }} {% endfor %}{% endif %}

{% if instance_type == 'initial' %}
ExecStartPre=/usr/bin/bash -c \
  ' \
  if test -e "/usr/local/lib/gitops-library.sh"; then \
      . "/usr/local/lib/gitops-library.sh" \
  else \
      set_tag() { echo "$2" > "{{ settings.var_dir }}/tags/$1" } \
  fi \
  set_tag backup/backup_initial_start_timestamp $(date +%s) \
  '

ExecStart=/usr/bin/bash -c \
  ' \
  if test -e "/usr/local/lib/gitops-library.sh"; then \
      . "/usr/local/lib/gitops-library.sh" \
  else \
      set_tag() { echo "$2" > "{{ settings.var_dir }}/tags/$1" } \
  fi \
  export UNITNAME HOME USER RESTIC_REPOSITORY RESTIC_PASSWORD {% if settings.env %}{% for k,v in settings.env.items() %}{{ k }} {% endfor %}{% endif %} \
  /usr/local/lib/backup-service.sh --from-systemd-service \
  set_tag backup/backup_initial_end_timestamp $(date +%s) \
  '

{% else %}
ExecStart=/usr/bin/bash -c \
  ' \
  if test -e "/usr/local/lib/gitops-library.sh"; then \
      . "/usr/local/lib/gitops-library.sh" \
  else \
      get_tag_fullpath() { echo "{{ settings.var_dir }}/tags/$1" } \
  fi \
  if test -e "$(get_tag_fullpath backup/backup_initial_end_timestamp)"; then \
      export UNITNAME HOME USER RESTIC_REPOSITORY RESTIC_PASSWORD {% if settings.env %}{% for k,v in settings.env.items() %}{{ k }} {% endfor %}{% endif %} \
      /usr/local/lib/backup-service.sh --from-systemd-service \
  else \
    systemctl start --no-block backup-initial \
  fi \
  '

{% endif %}
