{% load_yaml as defaults %}
repository:
repository_password:
user:
env: {}
includes: []
excludes: []
timer: *-*-* 23:30:00

# max time for fullbackup, eg: 8hours equals 562GB using 20mb/s
max_job_runtime: 480min
# CAP_DAC_READ_SEARCH
readall_privilege: false
max_backup_storage: -1
housekeeping_interval_days: 7
forget: keep-within 1y6m

systemd:
  after:
  wants:
  requires:
  onfailure:

external:
  rclone_zip
    version: 1.50.2
    latest: curl -L -s -o /dev/null -w "%{url_effective}" "https://github.com/rclone/rclone/releases/latest" | sed -r "s/.*\/v([^\/]+)$/\1/"
    download: "https://github.com/rclone/rclone/releases/download/v##version##/rclone-v##version##-linux-amd64.zip"
    target: /usr/local/lib/rclone.zip
  name: restic_bz2
    version: 0.9.6
    latest: curl -L -s -o /dev/null -w "%{url_effective}" "https://github.com/restic/restic/releases/latest" | sed -r "s/.*\/v([^\/]+)$/\1/"
    download: "https://github.com/restic/restic/releases/download/v##version##/restic_##version##_linux_amd64.bz2"
    target: /usr/local/lib/restic.bz2
{% endload %}

{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('backup', {})) %}
