{% load_yaml as defaults %} 

type: "lvm_libvirt" 
offline_ok: false {# do not backup if domain offline #}
pre_snapshot: "sync"
on_snapshot: ""
post_snapshot: ""
pre_recovery: ""
end_recovery: ""
post_recovery: ""
backup:
  mount: "vda"
  source: "/"
  {# exclude: #}

{% endload %}

