{% load_yaml as defaults %}
redroid_image:
  name: redroid_image
  image: docker.io/redroid/redroid
  tag: 12.0.0-latest

redroid_build:
  name: redroid_build
  image: localhost/redroid/redroid
  tag: 12.0.0-latest
  type: build
  build:
    source: .
  files:
    build/Dockerfile:
      contents: |
        FROM docker.io/redroid/redroid:12.0.0-latest
        COPY symlinkdir/ /system/etc/
    build/symlinkdir/mtab:
      symlink: /proc/mounts

redroid_service:
  name: redroid
  image: localhost/redroid/redroid
  tag: 12.0.0-latest
  refresh: false
  systemd:
    restart: on-success
  type: service
  storage:
    - name: ${SERVICE_NAME}_data
  volumes:
    - ${SERVICE_NAME}_data:/data
  publish:
    - 127.0.0.1:5555:5555/tcp
  options:
    - --memory-swappiness 0
    # - --privileged

{% endload %}

{% set settings=salt['grains.filter_by']({'default': defaults},
    grain='default', default= 'default', merge= salt['pillar.get']('android', {})) %}
