{%- macro env_repl(data, env={}) -%}
{%- set repl_ns= namespace(data= data) -%}
{%- set repl_names= repl_ns.data|regex_search('\$\{(.+)\}') -%}
{%- if repl_names != None -%}
  {%- for varname in repl_names -%}
    {%- set repl_ns.data = repl_ns.data|regex_replace('\$\{' ~ varname ~ '\}', env[varname]) -%}
  {%- endfor -%}
{%- endif -%}
{{ repl_ns.data }}
{%- endmacro -%}

[Unit]
Description=Systemd service for podman container {{ pod.name }}
After=network-online.target {{ pod.after }}
{% if pod.wants|length %}Wants={{ pod.wants }}{% endif %}
{% if pod.requires|length %}Requires={{ pod.requires }}{% endif %}
StartLimitBurst=5
StartLimitIntervalSec=100

[Service]
Type={{ pod.type }}
{%- if not pod.restart|length %}
  {%- if pod.type == 'oneshot' %}
Restart=no
  {%- else %}
Restart=on-failure
  {%- endif %}
{%- else %}
Restart={{ pod.restart }}
{%- endif %}
{%- for k,v in pod.properties.items() %}
{{ k }}={{ v }}
{%- endfor %}
{%- if pod.update %}
  {%- if pod.build %}
ExecStartPre=podman build {{ pod.build }} {{ "--tag="+ pod.tag if pod.tag }}
  {%- else %}
ExecStartPre=podman pull {{ pod.image }}{{ ":"+ pod.tag if pod.tag }}
  {%- endif %}
{%- endif %}
{%- if pod.ephemeral %}
ExecStartPre=-podman rm -f {{ pod.name }}
{%- endif %}
# RuntimeDirectory will create /run/{{ pod.name }} for pid, socket files
RuntimeDirectory={{ pod.name }}
# ? sure? contents of Environmentfile will be passed to container using --env-host
EnvironmentFile=/etc/containers/podman.service/{{ pod.name }}.env
ExecStart=podman run \
{%- if pod.ephemeral %}
  --rm \
{%- endif %}
  --name={{ pod.name }} \
  --userns={{ pod.userns }} \
  --env-host \
{%- for key,value in pod.options.items() %}
  --{{ key }}={{ value }} \
{%- endfor %}
{%- for key,value in pod.labels.items() %}
  --label={{ key }}={{ value }} \
{%- endfor %}
{%- for vol in pod.volumes %}
  {%- set vol_str = env_repl(vol, pod.environment) %}
  --volume={{ vol_str }} \
{%- endfor %}
{%- for publish in pod.ports %}
  {%- set publish_str = env_repl(publish, pod.environment) %}
  --publish={{ publish_str }} \
{%- endfor %}
  {{ pod.image }}{{ ":"+ pod.tag if pod.tag }} {% if pod.command %} \
  {{ pod.command }} {{ pod.args }}
{%- if pod.type != 'oneshot' %}
ExecStop=podman stop {{ pod.name }}

[Install]
WantedBy=multi-user.target
{%- endif %}
