{% from "containers/lib.sls" import env_repl, usernsid_fromstr %}
[Unit]
Description=Systemd service for podman container {{ entry.name }}
After=network-online.target {{ entry.after }}
{% if entry.wants|length %}Wants={{ entry.wants }}{% endif %}
{% if entry.requires|length %}Requires={{ entry.requires }}{% endif %}
StartLimitBurst=5
StartLimitIntervalSec=100

[Service]
Type={{ entry.type }}
{%- if not entry.restart|length %}
  {%- if entry.type == 'oneshot' %}
Restart=no
  {%- else %}
Restart=on-failure
  {%- endif %}
{%- else %}
Restart={{ entry.restart }}
{%- endif %}
{%- for k,v in entry.properties.items() %}
{{ k }}={{ v }}
{%- endfor %}
{%- if entry.update %}
  {%- if entry.build.source != '' %}
ExecStartPre=/bin/bash -c 'cd {{ entry.builddir }} && podman build \
    {{ '--tag='+ entry.tag if entry.tag }} \
    {%- for key,value in entry.build.args.items() %}
    {{ '--build-arg=' ~ key ~ '=' ~ value }} \
    {%- endfor %}
    {{ entry.build.source }}'
  {%- else %}
ExecStartPre=podman pull {{ entry.image }}{{ ":"+ entry.tag if entry.tag }}
  {%- endif %}
{%- endif %}
{%- if entry.ephemeral %}
ExecStartPre=-podman rm -f {{ entry.name }}
{%- endif %}
# RuntimeDirectory will create /run/{{ entry.name }} for pid, socket files
RuntimeDirectory={{ entry.name }}
WorkingDirectory={{ entry.workdir }}
EnvironmentFile={{ entry.workdir }}.env
ExecStart=podman run \
  --name={{ entry.name }} \
{%- if entry.userns == 'pick' %}
  --uidmap=0:{{ usernsid_fromstr(entry.name) }}:65536 \
  --gidmap=0:{{ usernsid_fromstr(entry.name) }}:65536 \
{%- else %}
  --userns={{ entry.userns }} \
{%- endif %}
  --env-host \
{%- for key,value in entry.options.items() %}
  --{{ key }}={{ value }} \
{%- endfor %}
{%- for key,value in entry.labels.items() %}
  --label={{ key }}={{ value }} \
{%- endfor %}
{%- for vol in entry.volumes %}
  {%- set vol_str = env_repl(vol, entry.environment) %}
  --volume={{ vol_str }} \
{%- endfor %}
{%- for publish in entry.ports %}
  {%- set publish_str = env_repl(publish, entry.environment) %}
  --publish={{ publish_str }} \
{%- endfor %}
  {{ entry.image }}{{ ":"+ entry.tag if entry.tag }} {% if entry.command %} \
  {{ entry.command }} {{ entry.args }}
{% endif %}
{%- if entry.type != 'oneshot' %}
ExecStop=podman stop {{ entry.name }}

[Install]
WantedBy=multi-user.target
{%- endif %}
