[Unit]
Description=Systemd service for podman container {{ pod.container_name }}
After=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=100

[Service]
Restart=always
{%- if pod.update %}
  {%- if pod.build %}
ExecStartPre=podman build {{ pod.build }} {{ "--tag="+ pod.tag if pod.tag }}
  {%- else %}
ExecStartPre=podman pull {{ pod.image }}{{ ":"+ pod.tag if pod.tag }}
  {%- endif %}
{%- endif %}
{%- if pod.ephemeral %}
ExecStartPre=-podman rm -f {{ pod.container_name }}
{%- endif %}
# RuntimeDirectory will create /run/{{ pod.container_name }} for pid, socket files
RuntimeDirectory={{ pod.container_name }}
# contents of Environmentfile will be passed to container using --env-host
EnvironmentFile=/etc/{{ pod.container_name }}.env

{%- if pod.enabled %}
ExecStart=podman run \
  {%- if pod.ephemeral %}
  --rm \
  {%- endif %}
  --name={{ pod.container_name }} \
  --env-host \
  {%- for key,value in pod.options.items() %}
  --{{ key }}={{ value }} \
  {%- endfor %}
  {%- for key,value in pod.labels.items() %}
  --label={{ key }}={{ value }} \
  {%- endfor %}
  {%- for vol in pod.volumes %}
  --volume={{ vol }} \
  {%- endfor %}
  {%- for publish in pod.ports %}
  --publish={{ publish }} \
  {%- endfor %}
  {{ pod.image }}{{ ":"+ pod.tag if pod.tag }} {% if pod.command %} \
  {{ pod.command }} {{ pod.args }}
  {% endif %}
{%- else %}
ExecStart=/usr/bin/false
{%- endif %}

ExecStop=podman stop {{ pod.container_name }}

[Install]
WantedBy=multi-user.target
