[Unit]
Description=Systemd service for podman container {{ pod.container_name }}
After=network-online.target

[Service]
Restart=always

{%- if pod.update %}
  {%- if pod.build %}
ExecStartPre=podman build {{ pod.build }} {{ "--tag="+ pod.tag if pod.tag }}
  {%- else %}
ExecStartPre=podman pull {{ pod.image }}{{ ":"+ pod.tag if pod.tag }}
  {%- endif %}
{%- endif %}

RuntimeDirectory={{ pod.container_name }}
ExecStart=podman run \
{%- for key,value in pod.options.items() %}
    --{{ key }}={{ value }} \
{%- endfor %}
    --name={{ pod.container_name }} \
{%- for key,value in pod.environment.items() %}
    --env={{ key }}={{ value }} \
{%- endfor %}
{%- for key,value in pod.labels.items() %}
    --label={{ key }}={{ value }} \
{%- endfor %}
{%- for vol in pod.volumes %}
    --volume={{ vol }} \
{%- endfor %}
    {{ pod.image }}{{ ":"+ pod.tag if pod.tag }} \
{%- if pod.command %}
    {{ pod.command }} {{ pod.args }}
{%- else %}

{%- endif %}

ExecStop=podman stop {{ pod.container_name }}
{%- if pod.ephemeral %}
ExecStopPost=podman rm -f {{ pod.container_name }}
{%- endif %}

[Install]
WantedBy=multi-user.target
