{% load_yaml as defaults %}
origin: system
upstream:
  version: "2.2.9"
  hash:
    amd64: "d06038b68a97a38369220838f0d21c50f9f09b693cf0458cad872864bb7ee09b"
    i386: "622482d3f65995f0f9964ab8507d623501838b6f8477b342f6320db0506d9533"
virtualbox: false
plugins:
  - vagrant-libvirt
  - vagrant-lxc
{% endload %}

{#
  - vagrant-gatling-rsync
  - vagrant-env
  - vagrant-proxyconf
#}

{% load_yaml as dependencies %}

vagrant-libvirt:
  build:
    - libxslt1-dev
    - libxml2-dev
    - zlib1g-dev
    - libvirt-dev
  sls:
    - libvirt
    - nfs.common
    - nfs.server

vagrant-lxc:
  sls:
    - lxc

vagrant-lxd:
  sls:
    - lxd

{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('vagrant', {})) %}
