{% load_yaml as defaults %}
origin: system
upstream:
  version: "2.2.4"
  hash:
    amd64: "1ffb66020b580492ebf9189af8a48c48cdb31825be0717d600518a881584fe4a"
    i386: "1ef60de19d4fd1fa6c4cd199c3b9f14a41b6291f0b70de590b0f86e05409ba06"
virtualbox: false
plugins:
  - vagrant-gatling-rsync
  - vagrant-env
  - vagrant-proxyconf
  - vagrant-libvirt
  - vagrant-lxd
{% endload %}

{% load_yaml as dependencies %}

vagrant-libvirt:
  build:
    - libxslt1-dev
    - libxml2-dev
    - zlib1g-dev
    - libvirt-dev
  sls:
    - libvirt

vagrant-lxd:
  sls:
    - lxd

{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('vagrant', {})) %}
