{% load_yaml as defaults %}
version: "2.2.1"
hash:
  amd64: "c4ed572fff3fa2c6dd02280df6dfaebdeef2d1b9ec3daa2fb7f4193078fb4d82"
  i386: "b1b38523d59c4c447f14a9ee0f9e177bf7e2d31222796b9aa2fc697ccc75073a"
virtualbox: true
{# virtualbox will only be installed if virtualbox: true and pillar:desktop.proprietary: true #}
plugins:
  - vagrant-gatling-rsync
  - vagrant-env
  - vagrant-proxyconf
  - vagrant-triggers
  - vagrant-libvirt
  - vagrant-lxd
{% endload %}

{% load_yaml as dependencies %}

vagrant-libvirt:
  pkgs: 
    - libxslt-dev
    - libxml2-dev
    - zlib1g-dev
    - libvirt-dev
  sls:
    - libvirt

vagrant-lxd:
  sls:
    - lxd

{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('vagrant', {})) %}
