{% load_yaml as defaults %}
net:
  bridge_cidr: 10.0.3.1/24
  bridge_name: lxcbr0
  bridge_reservations: |
      dhcp-host=test,10.0.3.10
  bridge_domain: lxc

profile:
  storage:
    - name: default
  network:
    - name: default
      eth0:
        link: br0
        type: veth
        flags: up
  image:
    - name: focal
      template: download
      options:
        dist: Ubuntu
        release: focal
        arch: {{ salt['grains.get']('osarch') }}
  container:
    - name: default
      image: focal
      network: default
      storage: default
      autostart: false {# autostart container on reboot #}
      config_head: |
          lxc.include = /usr/share/lxc/config/ubuntu.common.conf
          lxc.include = /usr/share/lxc/config/ubuntu.userns.conf
          lxc.include = /usr/share/lxc/config/nesting.conf
          lxc.mount.auto= proc sys cgroup:rw:force
      config_custom: |
          # custom config
      config_bottom: |
          # end of config
{% endload %}

{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('lxc', {})) %}
