{% load_yaml as defaults %}
storage: /var/lib/machines
env_basepath: /etc/nspawn-env
{% endload %}

{% load_yaml as machine_defaults %}
# name of the nspawn container and name of the controlling systemd service
name: ""

# enabled: if false, service will not get started and will be stopped if running
enabled: true

Exec: {}
{#
  Boot:
  Ephemeral:
  ProcessTwo:

  Parameters:
  Environment:
  User:
  WorkingDirectory:
  PivotRoot:

  Hostname:
  MachineID:
  Personality:
  NotifyReady:
  KillSignal:
  ResolvConf:
  Timezone:
  LinkJournal:

  Capability:
  DropCapability:
  AmbientCapability:
  NoNewPrivileges:

  PrivateUsers:
  SystemCallFilter:
  LimitCPU:, LimitFSIZE:, LimitDATA:, LimitSTACK:, LimitCORE:, LimitRSS:,
  LimitNOFILE:, LimitAS:, LimitNPROC:, LimitMEMLOCK:, LimitLOCKS:,
  LimitSIGPENDING:, LimitMSGQUEUE:, LimitNICE:, LimitRTPRIO:, LimitRTTIME:
  OOMScoreAdjust:
  CPUAffinity:
#}
Files: {}
{#
  ReadOnly:
  PrivateUsersChown:
  Bind:
  BindReadOnly:
  TemporaryFileSystem:
  Inaccessible:
  Overlay:
  OverlayReadOnly:
#}
Network: {}
{#
  Private:
  VirtualEthernet:
  VirtualEthernetExtra:
  Interface:
  MACVLAN:
  IPVLAN:
  Bridge:
  Zone:
  Port:
#}
{% endload %}

{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('nspawn', {})) %}
