[Unit]
Description=Letsencrypt Certificates Renewal
After=network-online.target
Wants=network-online.target
ConditionFileNotEmpty={{ settings.cert_dir }}/acme.sh/account.conf

[Service]
Type=oneshot
User={{ settings.cert_user }}
Group={{ settings.cert_user }}
Environment=UNITNAME=%n
Environment=USER="{{ settings.cert_user }}"
PassEnvironment=UNITNAME USER
WorkingDirectory={{ settings.cert_dir }}
ExecStart={{ settings.cert_dir }}/acme.sh/acme.sh --cron --home "{{ settings.cert_dir }}/acme.sh"
# acme.sh returns 2 when renewal is skipped (i.e. certs up to date)
SuccessExitStatus=0 2
