[Unit]
Description=Letsencrypt Certificates Renewal
After=network-online.target
Wants=network-online.target
ConditionFileNotEmpty={{ settings.ssl.base_dir }}/acme.sh/account.conf

[Service]
Type=oneshot
# timeout after 5min
TimeoutStartSec=300
User={{ settings.ssl.user }}
Group={{ settings.ssl.user }}
Environment=UNITNAME=%n
Environment=USER="{{ settings.ssl.user }}"
PassEnvironment=UNITNAME USER
WorkingDirectory={{ settings.ssl.base_dir }}
ExecStart={{ settings.ssl.base_dir }}/acme.sh/acme.sh --cron --home "{{ settings.ssl.base_dir }}/acme.sh"
# acme.sh returns 2 when renewal is skipped (i.e. certs up to date)
SuccessExitStatus=0 2
