<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="30" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      body {
        background-color: #787878;
        color: #fff;
        text-align: center;
        font-family: arial, sans-serif;
        margin: 0;
      }
      div {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      p {
        color: #eee;
      }
    </style>
    <title>{{ topic }}</title>
  </head>
  <body>
    <div>
      <h1>{{ topic }}</h1>
      <p>{{ text }}</p>
    </div>
  </body>
</html>
