<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="30" />
    <style>
      *, body { margin: 0; padding: 0; font-family: sans-serif; font-size: 1.2em; }
      #content { margin: 0.1em; }
      .innerwrap { border: 0.1em; padding: 0.2em; solid #EBEBEB;
          background: #F8F8F8; text-align: center; }
      #content .innerwrap p { display: block; }
      #content a { color: #2B558E; text-decoration: none; }
      #content a:hover { text-decoration: underline; }
    </style>
  </head>
  <body>
    <div id="content">
      <div class="innerwrap">
        <p><h2>{{ topic }}</h2></p>
        <p>{{ text }}</p>
      </div>
    </div>
  </body>
</html>
