[Unit]
Description=Gitops SSL Certificates Validity Check (warning <= 28 days, error <= 3 days)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ settings.user }}
Group={{ settings.user }}
Environment=UNITNAME=%n
Environment=HOME="{{ settings.home_dir }}"
Environment=USER="{{ settings.user }}"
PassEnvironment=UNITNAME HOME USER SENTRY_DSN
WorkingDirectory={{ settings.home_dir }}
ExecStart=/usr/local/bin/gitops-cert-check.sh {{ settings.cert_dir }}/server.cert.pem 28 3
