{%- if entry.global is defined %}
  {%- for key,value in entry.global.items() %}
{{ key|upper }}={{ value }}
  {%- endfor %}
{%- endif %}
{%- for key,value in entry.items() %}
  {%- if key not in ['name', 'global', 'gpg', 'salt' %}
[{{ key }}]
    {%- for subkey,subvalue in value.items()|select("mapping", False) %}
{{ subkey|upper }}={{ subvalue }}
    {%- endfor %}
    {%- for subkey,subvalue in value.items()|select("mapping", True) %}
[{{ key }}.{{ subkey }}]
      {%- for subsubkey,subsubvalue in subvalue.items() %}
{{ subsubkey|upper }}={{ subsubvalue }}
      {%- endfor %}
    {%- endfor %}
  {%- endif %}
{%- endfor %}
