{%- for k,v in entry.global.items() %}
{{ k|upper }} = {{ v }}
{%- endfor %}
{%- for k,v in entry.items() %}
  {%- if k not in ['name', 'global', 'gpg', 'salt'] %}
[{{ k }}]
    {%- for subkey,subvalue in v.items()|select("mapping", False) %}
{{ subkey|upper }} = {{ subvalue }}
    {%- endfor %}
    {%- for subkey,subvalue in value.items()|select("mapping", True) %}
[{{ k }}.{{ subkey }}]
      {%- for subsubkey,subsubvalue in subvalue.items() %}
{{ subsubkey|upper }} = {{ subsubvalue }}
      {%- endfor %}
    {%- endfor %}
  {%- endif %}
{%- endfor %}
