{%- for key,value in entry.global.items() %}
{{ key|upper }} = {{ value }}
{%- endfor %}
{%- for key,value in entry.items() %}
  {%- if key not in ['name', 'global', 'gpg', 'salt'] %}
[{{ key|upper }}]
    {%- for subkey,subvalue in value.items() %}
      {%- if subvalue is not mapping %}
{{ subkey|upper }} = {{ subvalue }}
      {%- endif %}
    {%- endfor %}
    {%- for subkey,subvalue in value.items() %}
      {%- if subvalue is mapping %}
[{{ key|upper }}.{{ subkey|upper }}]
        {%- for subsubkey,subsubvalue in subvalue.items() %}
{{ subsubkey|upper }} = {{ subsubvalue }}
        {%- endfor %}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
{%- endfor %}
