{% load_yaml as defaults %}
bionic:
  desktop:
    xserver: xserver-xorg-hwe-18.04
    xwayland: xwayland-hwe-18.04
  update:
    automatic_reboot: true
    allowed_origins: []
  telemetry: false
  snapd: false
generic:
  desktop:
    xserver: xserver-xorg
    xwayland: xwayland
  update:
    automatic_reboot: true
    allowed_origins: []
  telemetry: false
  snapd: false
{% endload %}

{% set settings = salt['grains.filter_by'](defaults,
  grain= 'oscodename', default= 'generic',
  merge= salt['pillar.get']('ubuntu', {})) %}
