d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string de.archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
{% if apt_proxy_mirror|d(None) %}
d-i mirror/http/proxy string {{ apt_proxy_mirror }}
{% endif %}
#d-i mirror/suite string trusty


