[Unit]
Description=Local Certificates Renewal
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# timeout after 5min
TimeoutStartSec=300
User={{ settings.ssl.pki.user }}
Group={{ settings.ssl.pki.user }}
Environment=UNITNAME=%n
Environment=USER="{{ settings.ssl.pki.user }}"
PassEnvironment=UNITNAME USER
WorkingDirectory={{ settings.ssl.pki.data }}
ExecStart={{ settings.ssl.pki.data }}/acme.sh/acme.sh --cron --home "{{ settings.ssl.pki.data }}/acme.sh"
make-ssl-cert generate-default-snakeoil --force-overwrite

# acme.sh returns 2 when renewal is skipped (i.e. certs up to date)
SuccessExitStatus=0 2
