{% load_yaml as package_defaults %}
trusty:
  meta: linux-generic-lts-xenial
  image: linux-image-generic-lts-xenial
  virtual_extra: linux-image-extra-virtual-lts-xenial
  headers: linux-headers-generic-lts-xenial
  tools: linux-tools-generic-lts-xenial
xenial:
  meta: linux-generic-hwe-16.04
  image: linux-image-generic-hwe-16.04
  virtual_extra: linux-image-extra-virtual-hwe-16.04
  headers: linux-headers-generic-hwe-16.04
  tools: linux-tools-generic-hwe-16.04
bionic:
  meta: linux-generic-hwe-18.04
  image: linux-image-generic-hwe-18.04
  virtual_extra: linux-image-extra-virtual-hwe-18.04
  headers: linux-headers-generic-hwe-18.04
  tools: linux-tools-generic-hwe-18.04
generic:
  meta: linux-generic
  image: linux-image-generic
  virtual_extra: linux-image-extra-virtual
  headers: linux-headers-generic
  tools: linux-tools-generic
{% endload %}

{% load_yaml as defaults %}
# if keep_current, do not change kernel, just install matching kernel-tools
keep_current: false
# if virtual_extra, install additional extra modules
virtual_extra: true
package: {{ salt['grains.filter_by'](package_defaults,
  grain= 'lsb_distrib_codename', default= 'generic',
  merge= salt['pillar.get']('kernel:package', {})) }}
overlay:
  redirect_dir: "on"
  xino_auto: "on"
  metacopy: "off"
{% endload %}

{% set settings = salt['grains.filter_by'](defaults,
  grain= 'lsb_distrib_codename', default= 'generic',
  merge= salt['pillar.get']('kernel', {})) %}
