{% load_yaml as defaults %}
trusty:
  hardware: linux-generic-lts-xenial
  virtual: linux-virtual-lts-xenial
  headers: linux-headers-generic-lts-xenial
  tools: linux-tools-generic-lts-xenial
  default_tools: linux-tools-generic-lts-xenial
xenial:
  hardware: linux-generic-hwe-16.04
  virtual: linux-virtual-hwe-16.04
  headers: linux-headers-generic-hwe-16.04
  tools: linux-tools-generic-hwe-16.04
  default_tools: linux-tools-generic-hwe-16.04
bionic:
  hardware: linux-generic
  virtual: linux-virtual
  headers: linux-headers-generic
  tools: linux-tools-generic
  default_tools: linux-tools-generic
generic:
  hardware: linux-generic
  virtual: linux-virtual
  headers: linux-headers-generic
  tools: linux-tools-generic
  default_tools: linux-tools-generic
{% endload %}

{% set settings = salt['grains.filter_by'](defaults, 
  grain= 'lsb_distrib_codename', default= 'generic',
  merge= salt['pillar.get']('kernel:image', {})) %}
