%domain{type:"kvm"}
  %name
    fedora_default
  %uuid
    06be0589-5d61-43eb-a480-c3c6649c0509
  %memory{unit:"KiB"}
    1048576
  %currentmemory{unit:"KiB"}
    1048576
  %vcpu{placement:"static"}
    2
  %os
    %type{machine:"pc-i440fx-trusty",arch:"x86_64"}
      hvm
    %boot{dev:"hd"}
  %features
    %acpi
    %apic
    %pae
  %clock{offset:"utc"}
  %on_poweroff
    destroy
  %on_reboot
    restart
  %on_crash
    destroy
  %devices
    %emulator
      /usr/bin/kvm-spice
    %disk{device:"disk",type:"file"}
      %driver{cache:"none",type:"qcow2",name:"qemu"}
      %source{file:"/mnt/images/libvirt/images/fedora_default.img"}
      %target{bus:"virtio",dev:"vda"}
      %address{slot:"0x03",bus:"0x00",domain:"0x0000",type:"pci",function:"0x0"}
    %interface{type:"network"}
      %mac{address:"52:54:00:6e:a5:a8"}
      %source{network:"vagrant-libvirt"}
      %model{type:"virtio"}
      %address{slot:"0x05",bus:"0x00",domain:"0x0000",type:"pci",function:"0x0"}
    %serial{type:"pty"}
      %target{port:"0"}
    %console{type:"pty"}
      %target{type:"serial",port:"0"}
    %input{bus:"ps2",type:"mouse"}
    %graphics{autoport:"yes",keymap:"en-us",type:"spice",listen:"127.0.0.1"}
      %listen{type:"address",address:"127.0.0.1"}
    %video
      %model{heads:"1",vram:"9216",type:"vmvga"}
      %address{slot:"0x02",bus:"0x00",domain:"0x0000",type:"pci",function:"0x0"}
    %memballoon{model:"virtio"}
      %address{slot:"0x04",bus:"0x00",domain:"0x0000",type:"pci",function:"0x0"}
