{% load_yaml as defaults %}
server:
  tag: stable
  port: 8080
  ip: bla
  db:
    name:
    user:
    password:
  environments:
    - name: Default
    - name: Kubernets
agent:
  tag: stable
  
{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('rancher', {})) %}
