{% load_yaml as defaults %}
server:
  tag: preview
  http_port: 80
  https_port: 443
  ip: 1.2.3.4
  db:
    host:
    port:
    name: cattle
    user: cattle
    password: cattle
  cluster:
    - name: default
  
{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('rancher', {})) %}
