[Unit]
Description=Rancher Agent
After=docker.service
ConditionPathExists=!/app/etc/flags/no.rancher-agent
Requires=docker.service
OnFailure=service-failed@%n.service
StartLimitInterval=300
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=5min
TimeoutStopSec=15
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull rancher/agent:{{ settings.agent.tag }}
ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    -p {{ settings.server.ip }}:{{ settings.server.port }}:8080 \
    -v /app/alertmanager:/data \
    rancher/agent:{{ settings.agent.tag }} \
    --db-name {{ settings.db.name }}

[Install]
WantedBy=multi-user.target
