pkgbase = dns-lexicon
	pkgdesc = Manipulate DNS records on various DNS providers in a standardized/agnostic way
	pkgver = 3.9.2
	pkgrel = 2
	url = https://github.com/AnalogJ/lexicon
	arch = any
	license = MIT
	checkdepends = python-pytest-runner
	checkdepends = python-vcrpy
	checkdepends = python-softlayer
	checkdepends = python-boto3
	checkdepends = python-mock
	checkdepends = python-pynamecheap
	checkdepends = python-zeep
	checkdepends = python-xmltodict
	checkdepends = python-beautifulsoup4
	checkdepends = python-localzone
	checkdepends = python-html5lib
	checkdepends = python-dnspython
	checkdepends = bind-tools
	makedepends = python-dephell
	depends = python-beautifulsoup4
	depends = python-cryptography
	depends = python-future
	depends = python-yaml
	depends = python-requests
	depends = python-tldextract
	optdepends = python-pynamecheap: for Namecheap support
	optdepends = python-boto3: for Route53 support
	optdepends = python-softlayer: for SoftLayer support
	optdepends = python-xmltodict: for Plesk support
	optdepends = python-localzone: for localzone support
	optdepends = python-zeep: for Gransy support
	source = https://github.com/AnalogJ/lexicon/archive/v3.9.2/dns-lexicon-3.9.2.tar.gz
	source = ebf276.patch
	sha512sums = f4052e2837ee43ce8aaadc9e5adbb522f2a9035a5d1813b35c3bd84fb651e10a42594529328d12153d086f2b8d84bb35eb4af2425010df4e8784f4972de00027
	sha512sums = SKIP

pkgname = dns-lexicon
