{# listen_ip can be a string "1.2.3.4" or an array of strings ['1.2.3.4', '5.6.7.8'] #}
{% load_yaml as defaults %}

listen_ip: "127.0.0.1"
listen_port: 8123
cache_dir: /var/cache/squid
cache_size_mb: 10240 {# = 10GB #}

{% endload %}

{% set default_no_proxy = 'localhost,127.0.0.1,169.254.169.254,metadata.google.internal' %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('squid:server', {})) %}
