#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME         HEADERS         SWITCH
#							PORT	PORT(S)		DEST		LIMIT		GROUP
#?SECTION ALL
#?SECTION ESTABLISHED
#?SECTION RELATED
?SECTION NEW

{% for rule in shorewall.rules %}
{{ rule }}
{% endfor %}
