pkgbase = python-fastai2
	pkgdesc = Deep learning library build on PyTorch with CPU. Version 2 of fastai.
	pkgver = 2.5.6
	pkgrel = 1
	url = https://github.com/fastai/fastai
	arch = any
	license = Apache
	makedepends = python-setuptools
	makedepends = python-pip
	depends = python-fastcore
	depends = python-fastdownload
	depends = python-fastprogress
	depends = python-matplotlib
	depends = python-packaging
	depends = python-pandas
	depends = python-pillow
	depends = python-pip
	depends = python-pytorch
	depends = python-pyaml
	depends = python-requests
	depends = python-scikit-learn
	depends = python-scipy
	depends = python-spacy
	depends = python-torchvision
	source = fastai-2.5.6.tar.gz::https://github.com/fastai/fastai/archive/refs/tags/2.5.6.tar.gz
	sha512sums = 293107e94b7d3c584e6f2ea4310cd0f5d8ac5b22e7545a41e2976ed69c4b8a9031f121a9a3afa1c7c177f7a7f37457fa5d2b9a1b45ffc057781beb6f9442eab9

pkgname = python-fastai2
