[Unit]
Description=Local Certificates Renewal
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# timeout after 5min
TimeoutStartSec=300
User={{ settings.ssl.user }}
Group={{ settings.ssl.user }}
Environment=UNITNAME=%n
Environment=USER="{{ settings.ssl.user }}"
PassEnvironment=UNITNAME USER
WorkingDirectory={{ settings.ssl.base_dir }}/easyrsa
ExecStart=/usr/local/bin/renew-host-certificates.sh \
  --cron --renew-hook "{{ settings.ssl.base_dir }}/ssl-renew-hook.sh"
