
{% set torch_version='1.10.2' %}

{% load_yaml as defaults %}
flavor: cpu

torch:
  cpu:
    pkgs:
    - torch=={{ torch_version }}+cpu
    - torchvision==0.11.3+cpu
    - torchaudio==0.10.2+cpu
    links: https://download.pytorch.org/whl/cpu/torch_stable.html
  rocm:
    pkgs:
    - torch
    - torchvision==0.11.3
    - torchaudio
    links: https://download.pytorch.org/whl/rocm4.2/torch_stable.html
  cuda10:
    pkgs:
    - torch
    - torchvision
    - torchaudio
    links:
  cuda11:
    pkgs:
    - torch=={{ torch_version }}+cu113
    - torchvision==0.11.3+cu113
    - torchaudio==0.10.2+cu113
    links: https://download.pytorch.org/whl/cu113/torch_stable.html
{% endload %}


{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('jupyterlab', {})) %}
