$TTL {{ common.ttl }}
@ IN SOA ns.domain.top. postmaster.domain.top. 1204162300 {{ common.refresh }} {{ common.retry }} {{ common.expire }} {{ common.nxdomain }}
@   NS ns.domain.top.
ns  A {{ network.bridge_ip }}

{%- for i in range(2,255) %}
res{{ i }}  A 10.9.139.{{ i }}
{%- endfor %}
