{% load_yaml as defaults %}
enabled: false
# logging verbosity
verbosity: 1
listen: []
answer: []
authorative:
  unsigned: {}
  signed: {}
# if redirect_host_dns is true, modify host to use unbound service for resolving dns
redirect_host_dns: false
# if query_localhost is true, unbound will query local host addresses as authoritative targets
query_localhost: true
{% endload %}

{% load_yaml as example %}
verbosity: 3
listen:
  - 127.0.0.1
answer:
  - 127.0.0.1/8
authorative:
  unsigned:
    "local": "127.0.1.1"
    "0.0.127.in.addr.arpa": "127.0.1.1"
{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('unbound', {})) %}
