{% load_yaml as defaults %}
container:
  name: dockdroid
  image: docker.io/sickcodes/dock-droid
  tag: latest
  refresh: false
  systemd:
    restart: on-success
  type: service
  storage:
    - name: ${SERVICE_NAME}_data
  volumes:
    - ${SERVICE_NAME}_data:/data
  publish:
    - 127.0.0.1:5555:5555/tcp
  options:
    - --memory-swappiness 0
    # - --privileged
{% endload %}

{% set settings=salt['grains.filter_by']({'default': defaults},
    grain='default', default= 'default', merge= salt['pillar.get']('dockdroid', {})) %}
