{% set bridge_cidr= salt['pillar.get']('node:network:internal:cidr', '10.140.250.1/24') %}
{% set bridge_name= salt['pillar.get']('node:network:internal:name', 'resident') %}
{% set bridge_ip= bridge_cidr|regex_replace ('([^/]+)/.+', '\\1') %}
{% set netplan_path= grains['project_basepath']+ '/config/netplan.yaml' %}
{% import_text netplan_path as netplan_raw %}
{% set netplan_recovery= salt['pillar.get']('node:network:recovery', netplan_raw) %}
{% set netplan_default= salt['pillar.get']('node:network:default', netplan_raw) %}

{% load_yaml as defaults %}
def_route_ip: {{ salt['cmd.run_stdout']('ip route list default | sed -r "s/.+src ([0-9a-f.:]+) metric.*/\\1/g"', python_shell=true) }}
bridge_cidr: {{ bridge_cidr }}
bridge_name: {{ bridge_name }}
bridge_netcidr: {{ salt['network.convert_cidr'](bridge_cidr)['network'] }}
bridge_netmask: {{ salt['network.convert_cidr'](bridge_cidr)['netmask'] }}
bridge_ip: {{ bridge_ip }}
rpcbind: ['{{ bridge_ip }}']
netplan_recovery: |
{{ netplan_recovery|indent(4,True) }}
netplan_default: |
{{ netplan_default|indent(4,True) }}
{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('node', {})) %}
