{% load_yaml as defaults %}
lang: en:us
location: World
timezone: UTC
additional:
posix_messages: false
{% endload %}

{% set merged_defaults=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('node:locale', {})) %}

{% set lang_name= merged_defaults.lang.split(':')[0] %}
{% set lang_country= merged_defaults.lang.split(':')[1] %}
{% set language= merged_defaults.language|d(lang_name+ '_'+ lang_country|upper+ ':'+ lang_name) %}

{% set settings = namespace({
    'lang': lang_name+ '_'+ lang_country|upper+ '.UTF-8',
    'language': language,
    'language_code': lang_name+ '-'+ lang_country,
    'timezone': merged_defaults.timezone,
    'location': merged_defaults.location,
    'additional': '',
    })
%}
{% if merged_defaults.posix_messages %}
  {% set settings.messages = 'POSIX' %}
{% else %}
  {% set settings.messages = settings['lang'] %}
{% endif %}
{% if merged_defaults.additional %}
  {% for x in merged_defaults.additional.split(' ') %}
    {% set l = x.split(':')[0] %}
    {% set c = x.split(':')[1] %}
    {% set tobeadded = l+ '_'+ c|upper()+ '.UTF-8' %}
    {% set settings.additional= settings.additional+ ' '+ tobeadded %}
  {% endfor %}
{% endif %}
