{% load_yaml as defaults %}

{% set architecture= "amd64" %}
{% set suite= "xenial" %}

suite: {{ suite }}
architecture: {{ architecture }}

netboot_source: http://archive.ubuntu.com/ubuntu/dists/{{ suite }}-updates/main/installer-{{ architecture }}/20101020ubuntu451.14/images/hwe-netboot/ubuntu-installer/{{ architecture }}
netboot_linux_hash: "sha256=4985520127e08573ab2df58226604e5595833cb3d48d41d40dfe99a79c7d057b"
netboot_initrd_hash: "sha256=fe85c13124032498e5cc8fae2d8f71486bb3176755f7670d9afaf4cdd41225a6"

username: vagrant
password: {{ salt['cmd.run']('openssl rand -base64 12') }}
hostname: {{ suite }}-default
domainname: .local

kernel_image: generic

disks: /dev/vda
diskpassword_creation: 'openssl rand -base64 15'
diskpassword_receiver_id: insecure_gpgkey
diskpassword_receiver_key: salt://preseed/files/insecure_gpgkey.key.asc

templates: 'salt://preseed/preseed'
hooks: 'salt://preseed/hooks'

netcfg:
  ip: ''
  netmask: ''
  gateway: ''
  dns: ''
  pointopoint: ''

additional_udeb:
  # -

additional_layers:
  - "salt://preseed/files/overlay.tar.gz"

apt_proxy_mirror: "''"

custom_files: {}
  {# - "destination": "source" #}

default_preseed: preseed-custom.cfg

preseed_list:
{% set p_default=('base.cfg',
    'user.cfg', 'locale.cfg', 'package-setup.cfg', 'network.cfg',
    'tasks_minimal.cfg', 'apt-mirror.cfg', 'partman-base.cfg') %}

{% for a in ('', '-http') %}
  - preseed-custom{{ a }}.cfg:
  {% for p in p_default %}
    - {{ p }}
  {% endfor %}
    - custom_early{{ a }}.cfg
    - custom_late{{ a }}.cfg
  - preseed-custom{{ a }}-console.cfg:
  {% for p in p_default %}
    - {{ p }}
  {% endfor %}
    - custom_early{{ a }}.cfg
    - custom_late{{ a }}.cfg
    - network-console.cfg
  {% for b in ('plain', 'simple', 'lvm') %}
  - preseed-{{ b }}{{ a }}.cfg:
    {% for p in p_default %}
    - {{ p }}
    {% endfor %}
    - custom_early{{ a }}.cfg
    - custom_late{{ a }}.cfg
    - partman-{{ b }}.cfg
  {% endfor %}
{% endfor %}

{% endload %}
