install
cdrom

network --bootproto=dhcp

text
skipx
bootloader

firewall --enabled --service=ssh
selinux --disabled
firstboot --disabled

lang en_US.UTF-8
keyboard us

timezone --utc Europe/Vienna

zerombr
clearpart --all --initlabel
#autopart
part /boot --size=250
part swap --hibernation
part / --size=3000 --grow 

rootpw vagrant
authconfig --enableshadow --passalgo=sha512
user --name=vagrant --groups=vagrant --password=vagrant

reboot

%packages --nobase
@core
-*firmware
-b43-openfwwf
-efibootmgr
-audit*
-libX*
-fontconfig
-freetype
sudo
openssh-clients
openssh-server
make
%end

%post
echo 'vagrant             ALL=(ALL)   NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
echo 'Defaults:vagrant    env_keep += SSH_AUTH_SOCK' >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
sed -i 's/^.*requiretty/#Defaults requiretty/' /etc/sudoers
sed -i 's/rhgb //' /boot/grub/grub.conf
%end

