[Unit]
Description=Systemd service for podman-compose {{ entry.name }}
After=network-online.target {{ entry.systemd.after }}
{% if entry.systemd.wants|length %}Wants={{ entry.systemd.wants }}{% endif %}
{% if entry.systemd.requires|length %}Requires={{ entry.systemd.requires }}{% endif %}
{%- for k,v in entry.systemd.unit.items() %}
{{ k }}={{ v }}
{%- endfor %}

[Service]
Type=exec
Restart={{ entry.restart }}
WorkingDirectory={{ entry.workdir }}
# RuntimeDirectory will create /run/{{ entry.name }} for pid, socket files
RuntimeDirectory={{ entry.name }}
# Environment=PODMAN_USERNS={{ entry.userns }}
{%- if entry.update %}
  {%- if entry.build %}
ExecStartPre=podman-compose build
  {%- else %}
ExecStartPre=podman-compose pull
  {%- endif %}
{%- endif %}
ExecStart=podman-compose up --abort-on-container-exit
ExecStop=podman-compose down
{%- for k,v in entry.systemd.service.items() %}
{{ k }}={{ v }}
{%- endfor %}

[Install]
WantedBy=default.target
