[Unit]
Description=Systemd service for podman-compose {{ entry.name }}
After=network-online.target {{ entry.systemd.after }}
{% if entry.systemd.wants|length %}Wants={{ entry.systemd.wants }}{% endif %}
{% if entry.systemd.requires|length %}Requires={{ entry.systemd.requires }}{% endif %}
{%- for k,v in entry.systemd.unit.items() %}
{{ k }}={{ v }}
{%- endfor %}

[Service]
Type=exec
{%- if not entry.systemd.restart|length %}
Restart=on-failure
{%- else %}
Restart={{ entry.systemd.restart }}
{%- endif %}
WorkingDirectory={{ entry.workdir }}
# RuntimeDirectory will create /run/{{ entry.name }} for pid, socket files
RuntimeDirectory={{ entry.name }}
# Environment=PODMAN_USERNS={{ entry.userns }}
{%- if entry.refresh %}
ExecStartPre=podman-compose pull
{%- endif %}
{%- if entry.ephemeral %}
ExecStartPre=-podman pod rm {{ entry.name }}
{%- endif %}
ExecStart=podman-compose up --no-build --abort-on-container-exit
ExecStop=podman-compose down
{%- for k,v in entry.systemd.service.items() %}
{{ k }}={{ v }}
{%- endfor %}

[Install]
WantedBy=default.target
