install
cdrom

lang en_US.UTF-8
keyboard us

network --bootproto=dhcp
firewall --disabled
selinux --permissive
timezone UTC
text
skipx

zerombr
clearpart --all --initlabel
bootloader --location=mbr --append="norhgb biosdevname=0"
part /boot --size=500
part swap --hibernation
part / --size=3000 --grow

firstboot --disabled
reboot

auth  --useshadow  --enablemd5
authconfig --enableshadow --passalgo=sha512
user --name=vagrant --plaintext --password vagrant
rootpw vagrant

%packages --nobase --ignoremissing --excludedocs
bzip2
gcc
kernel-devel
kernel-headers
tar
wget
nfs-utils
net-tools
-linux-firmware
-plymouth
-plymouth-core-libs
%end

%post
# sudo
echo 'Defaults:vagrant !requiretty' > /etc/sudoers.d/vagrant
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant
%end
