backupninja:
  at: manual
  config:
    - sys:
      - 10: 
    - sh:
      - 20-mytest: 
        data: |
           /usr/local/sbin/do whatever 
      - 20-anothertest:
        data: |
           /usr/local/sbin/do another
    - pgsql:
      - 20:
    - mysql:
      - 20:
