[Unit]
Description=Rancher Agent
After=docker.service
ConditionPathExists=!/etc/rancher/no.rancher-agent
ConditionPathExists=/etc/rancher/rancher-agent.env
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
SuccessExitStatus=137
TimeoutStartSec=3min
TimeoutStopSec=15
EnvironmentFile=/etc/rancher/rancher-agent.env
ExecStartPre=/usr/bin/docker pull ${AGENTIMAGE}
ExecStart=/usr/bin/docker run \
    --detach \
    --name systemd-rancher-agent \
    --net=host \
    --privileged \
    --restart=unless-stopped \
    -v /etc/kubernetes:/etc/kubernetes \
    -v /var/run:/var/run \
{%- if settings.agent.dns|d(None) != None and settings.agent.dns.ip|d(None) != None and settings.agent.dns.search|d(None) != None %}
    --dns={{ settings.agent.dns.ip }} \
    --dns-search={{ settings.agent.dns.search }} \
{%- endif %}
{%- if settings.agent.env|d(None) != None %}
{%- for n,d in settings.agent.env.iteritems() %}
    -e {{ n }}='{{ d }}' \
{%- endfor %}
{%- endif %}
    "${AGENTIMAGE}" \
    --address "${ADDRESS}" \
    --server "${RANCHERSERVER}" \
    --token "${AGENTTOKEN}" \
    --ca-checksum "${CACHECKSUM}" \
    --etcd --controlplane --worker
ExecStop=-/usr/bin/docker stop rancher-agent systemd-rancher-agent
ExecStop=-/usr/bin/docker rm rancher-agent systemd-rancher-agent

[Install]
WantedBy=multi-user.target
