[Unit]
Description=Rancher Server
After=docker.service
ConditionPathExists=!/etc/rancher/no.rancher-server
Requires=docker.service
#OnFailure=service-failed@%n.service
StartLimitInterval=300
StartLimitIntervalSec=300
StartLimitBurst=5

{% set serverip= salt['dnsutil.A'](settings.server.name)[0] %}

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=5min
TimeoutStopSec=15
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull rancher/rancher:{{ settings.server.tag }}
ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    -p {{ serverip }}:{{ settings.server.http_port }}:80 \
    -p {{ serverip }}:{{ settings.server.https_port }}:443 \
    -v rancher-server-volume:{{ settings.server.data }} \
{%- if settings.server.dns.ip|d(None) != None and settings.server.dns.search|d(None) != None %}
    --dns={{ settings.server.dns.ip }} \
    --dns-search={{ settings.server.dns.search }} \
{%- endif %}
{%- if settings.server.env|d(None) != None %}
{%- for n,d in settings.server.env.iteritems() %}
    -e {{ n }}='{{ d }}' \
{%- endfor %}
{%- endif %}
    -e DEFAULT_CATTLE_TELEMETRY_OPT="out" \
    -e DEFAULT_CATTLE_API_HOST="{{ settings.server.name }}:{{ settings.server.https_port }}" \
    rancher/rancher:{{ settings.server.tag }}
    
[Install]
WantedBy=multi-user.target

