{% load_yaml as defaults %}
enabled: false
# logging verbosity
verbosity: 1
listen: []
answer: []
authorative:
  unsigned: {}
  signed: {}
# if redirect_host_dns is true, modify host to use unbound service for resolving dns
redirect_host_dns: false
# if query_localhost is true, unbound will query local host addresses as authoritative targets
query_localhost: true
profile: []
{% endload %}

{% load_yaml as profile_defaults %}
name: ""
enabled: false
verbosity: 1
listen: []
answer: []
authorative:
  unsigned: {}
  signed: {}
query_localhost: true
{% endload %}


{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('unbound', {})) %}
