{% load_yaml as defaults %}
# origin: system|custom
origin: system
custom_src_dist: focal
custom_apply_patches: true

# arc_max_percent: use up to x % of memory for arc
arc_max_percent: 25
# arc_max_bytes: will be computed from arc_max_percent if unset

# enable cyclic rotating filesystem snapshots
# any fs where "com.sun:auto-snapshot" is not false and
# "com.sun:auto-snapshot:<interval>" is not false, a rotating snapshot will be taken
autosnapshot: false

# rotation intervals: keep x snapshots per interval
keep_frequent: 4 {# 15min  intervals for the last hour #}
keep_hourly: 10  {# 1hour  intervals for the last 10 hours #}
keep_daily: 9    {# 1day   intervals for the last  9 days #}
keep_weekly: 3   {# 1week  intervals for the last  3 weeks #}
keep_monthly: 3  {# 1month intervals for the last  3 months #}

{% endload %}

{% set settings=salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('zfs', {})) %}

{% if settings.arc_max_bytes is not defined %}
{% do settings.update( {'arc_max_bytes':
    ((grains['mem_total'] * settings.arc_max_percent / 100 ) * 1024 * 1024)|round|int} ) %}
{% endif %}


{%- macro mksnapshot(spaces, frequent=false, hourly=false, daily=false, weekly=false, monthly=false) %}
{{ ''|indent(spaces,True) ~ '"com.sun:auto-snapshot:frequent": "'~ frequent~ '"' }}
{{ ''|indent(spaces,True) ~ '"com.sun:auto-snapshot:hourly": "'~ hourly~ '"' }}
{{ ''|indent(spaces,True) ~ '"com.sun:auto-snapshot:daily": "'~ daily~ '"' }}
{{ ''|indent(spaces,True) ~ '"com.sun:auto-snapshot:weekly": "'~ weekly~ '"' }}
{{ ''|indent(spaces,True) ~ '"com.sun:auto-snapshot:monthly": "'~ monthly~ '"' }}
{%- endmacro %}


{% load_yaml as zfs_pool_base %}
- name: ROOT
  properties:
    canmount: off
    mountpoint: none

- name: ROOT/ubuntu
  properties:
    canmount: noauto
    mountpoint: /
{{ mksnapshot(4, frequent=true, daily=true) }}

- name: var
  properties:
    canmount: off
    logbias: throughput
    local.custom:auto-backup: false
{{ mksnapshot(4, frequent=true) }}

- name: var/lib
  properties:
    canmount: off

- name: data
  properties:
    canmount: off
    mountpoint: none
    setuid: off
    exec: off
{{ mksnapshot(4, frequent=true, hourly=true, daily=true, weekly=true, monthly=true) }}

{% endload %}


{% load_yaml as zfs_pool_defaults %}
- name: data/home
  properties:
    mountpoint: /home
    setuid: off
    exec: on

- name: data/home/root
  properties:
    mountpoint: /root

- name: data/postgresql
  properties:
    recordsize: 16K
    logbias: throughput
    primarycache: metadata

- name: data/postgresql/localhost
  properties:
    mountpoint: /var/lib/postgresql

- name: data/mail
  properties:
    mountpoint: /var/lib/mail

- name: var/basedir-tmp
  properties:
    mountpoint: /tmp

- name: var/tmp
- name: var/spool
- name: var/backups
- name: var/log
  properties:
    exec: off

- name: var/cache
  properties:
    exec: off

- name: var/cache/pbuilder
  properties:
    exec: on
    devices: on

- name: var/lib/apt-lists
  properties:
    exec: off
    mountpoint: /var/lib/apt/lists

- name: var/lib/snapd

{% endload %}
