{% load_yaml as defaults %}
pip:
  update:
    automatic: false
pipx:
  update:
    automatic: false

python:
  debian:
  - python3
  - python3-pip
  - python3-setuptools
  - python3-venv
  - python3-virtualenv
  - virtualenv
  # additional
  - python3-yaml
  - python3-xmljson
  - python3-jsonlines

  arch:
  - python
  - python-pip
  - python-setuptools
  - python-virtualenv
  # additional
  - python-pipx
  - python-jinja
  - python-yaml
  - python-xmljson
  - python-jsonlines

ipython:
  debian:
  - python3-pudb
  - python3-ipdb
  - python3-jedi
  - ipython3

  arch:
  - python-pudb   {# full-screen console debugger for Python #}
  - python-ipdb   {# python debugger, with IPython features #}
  - python-jedi   {# autocompletion tool for Python #}
  - ipython       {# Enhanced interactive Python shell #}

python_dev:
  debian:
  - build-essential
  - python3-dev
  # additional
  - git
  - cython3
  - swig

  arch:
  # base-devel installed as group
  # additional
  - git
  - cython      {# pythonic language wrapping external C libraries and fast C modules #}
  - swig
  - meson
{% endload %}

{% set settings=salt['grains.filter_by']({'default': defaults},
    grain='default', default= 'default', merge= salt['pillar.get']('python', {})) %}
