{% load_yaml as defaults %}
# allowed listening address, only 1 address allowed
listen: 127.0.0.1
user: []
database: []
character_set: utf8mb4
collate: utf8mb4_general_ci
{% endload %}

{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('mysql', {})) %}
