{% load_yaml as defaults %}
node:
  kvm:
    nested: true

{% endload %}

{% set settings=salt['grains.filter_by']({'default': defaults},
    grain='default', default= 'default', merge= salt['pillar.get']('opennebula', {})) %}
