{% load_yaml as defaults %}
# runtime: ["runc","crun"]: crun: alternative OCI runtime with support for cgroup V2
runtime: "crun"
storage:
  driver: "overlay"
  options:
    mount_program: "/usr/bin/fuse-overlayfs"
{% endload %}

{% load_yaml as default_service %}
image:
  name: None
  tag: None
  build: None
  dockerfile: None
  insecure_registry: false
container:
  name: None
  start: true
  update_on_start: true
  remove_on_stop: false
  command: None
  # command: if set, will replace default command
  args: ""
  # args: if set, will add args for command, command must also be set
  env: {}
  # env: dict: {key: value,}
  label: {}
  # label: dict: {key: value,}
  volume: []
  # volume: list: - [source-volume|host-dir:]container-dir[:options]
  options: {}
  # options: dict: {key: value,} container options for podman run

{% endload %}

{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('podman', {})) %}
