
{% load_yaml as defaults %}
# runtime: ["runc","crun"], crun: alternative OCI runtime with support for cgroup V2
runtime: "crun"

storage:
  driver: "overlay"

  # Primary Read/Write location of container storage
  graphroot: "/var/lib/containers/storage"

  # Storage path for rootless users
  # rootless_storage_path : "$HOME/.local/share/containers/storage"

  options:
    overlay:
      mount_program: "/usr/bin/fuse-overlayfs"

{% endload %}

{% load_yaml as default_service %}
image:
  name: None
  tag: None
  build: None
  dockerfile: None
  insecure_registry: false

container:
  # name: container name, must be set
  name: None

  # update: if set true: container image will be pulled/build on start
  update: true
  # ephemeral: if set true, container will be removed on stop
  ephemeral: false

  # command: if set, will replace default command
  command: None
  # args: if set, will add args for command, command must also be set
  args: ""
  # env: dict: {key: value,}
  env: {}
  # label: dict: {key: value,}
  label: {}
  # volume: list: - [source-volume|host-dir:]container-dir[:options]
  volume: []
  # options: dict: {key: value,} container options parameter for podman run
  options: {}

{% endload %}

{%- set settings = salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('podman', {})) %}
