[Unit]
Description=configurable HTTP endpoints (Webhooks)
Documentation=https://github.com/adnanh/webhook/
After=network-online.target
Wants=network-online.target
#OnFailure=app-service-failed@%n.service
#ConditionFileNotEmpty={{ settings.etc_dir }}/webhook.conf

[Service]
User={{ settings.user }}
Group={{ settings.user }}
Environment=UNITNAME=%n
Environment=HOME="{{ settings.home_dir }}"
Environment=USER="{{ settings.user }}"
EnvironmentFile={{ settings.env_file }}
PassEnvironment=UNITNAME HOME USER
WorkingDirectory={{ settings.home_dir }}
ExecStart=/usr/bin/webhook \
    -ip {{ settings.webhook.ip }} \
    -port {{ settings.webhook.port }} \
    -hooks {{ settings.etc_dir }}/webhook.conf \
    -urlprefix hooks \
    -nopanic \
    -verbose

[Install]
WantedBy=multi-user.target
