[Unit]
Description=Gitops Update
ConditionFileNotEmpty={{ settings.env_file }}
After=network-online.target
Wants=network-online.target
# OnFailure=app-service-failed@%n.service

[Service]
Type=oneshot
TimeoutStartSec=30min
Environment=UNITNAME=%n
EnvironmentFile={{ settings.env_file }}
PassEnvironment=UNITNAME src_user src_url src_branch src_dir
ExecStart=/usr/local/sbin/gitops-update.sh --from-systemd-service
