[Unit]
Description=Prometheus exporter that mines /proc to report on selected processes
After=docker.service postgresql.service
Requires=docker.service
ConditionPathExists=/app/etc/flags/metric.exporter
OnFailure=service-failed@%n.service
StartLimitInterval=300
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=10min
TimeoutStopSec=10
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker build -t process-exporter:latest https://github.com/ncabatoff/process-exporter.git#b42394e76d8973328e54de8dcdc1c3d8aa968ed5

ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    --net bridge \
    -p {{ salt['pillar.get']('docker:ip') }}:9256:9256 \
    -v /proc:/host/proc \
    --privileged \
    process-exporter \
    -procfs /host/proc -procnames uwsgi,postgres,nginx,celery

[Install]
WantedBy=multi-user.target
