{% load_yaml as defaults %}
service:
  lab:
    notebook_dir: ~/lab
    port: 8888
    token: Insert-openssl_rand_-hex_24
    default_chromium: true
    default_packages: true
    chromium:
      args: []
      extensions: []
    packages: []
kernel:
  lab:
    system_packages: true
    packages: []
default:
  chromium:
    args:
      - --enable-crashpad
      - --flag-switches-begin
      - --enable-gpu-rasterization
      - --enable-zero-copy
      - --ozone-platform-hint=wayland
      - --enable-features=EnableDrDc,PageInfoAboutThisSite,SystemNotifications,Vulkan,WebRTCPipeWireCapturer
      - --flag-switches-end
    extensions:
      # ublockorigin
      - cjpalhdlnbpafiamejdnhcphjbkeiagm
      # privacybadger
      - pkehgijcmpdhfbdbbnkijodmdjhbjlgp
      # noscript
      - doojmbjmlfjjnbmnoijecmcbfeoakpjm
  service:
    packages:
      ## jupterlab extensions
      - jupyterlab-system-monitor
      - jupyterlab-bookmarks-extension
      - jupyterlab-cell-flash
      - jupyterlab-autosave-on-focus-change
      # rise - instantly turn your Jupyter Notebooks into a slideshow
      - rise
      # jupyterlab-geojson - A JupyterLab extension for rendering GeoJSON
      - jupyterlab-geojson

      ## jupyterlab themes
      - theme-darcula
      - jupyterlab_materialdarker
{% endload %}

{% set settings=salt['grains.filter_by']({'default': defaults},
    grain='default', default= 'default', merge= salt['pillar.get']('python', {})) %}
