{% load_yaml as defaults %}
service:
  lab:
    notebook_dir: ~/lab
    port: 8888
    token: Insert-openssl_rand_-hex_24
    default_chromium: true
    default_packages: true
    default_apps: true
    chromium:
      args: []
      extensions: []
    packages: []
kernel:
  lab:
    system_packages: true
    packages: []

default:
  chromium:
    args:
      - --enable-crashpad
      - --flag-switches-begin
      - --enable-gpu-rasterization
      - --enable-zero-copy
      - --ozone-platform-hint=wayland
      - --enable-features=EnableDrDc,PageInfoAboutThisSite,SystemNotifications,Vulkan,WebRTCPipeWireCapturer
      - --flag-switches-end
    extensions:
      # ublockorigin
      - cjpalhdlnbpafiamejdnhcphjbkeiagm
      # privacybadger
      - pkehgijcmpdhfbdbbnkijodmdjhbjlgp
      # noscript
      - doojmbjmlfjjnbmnoijecmcbfeoakpjm

  service:
    apps:
      ## jupyterlab: additional apps including commandline interfaces
      # euporie - jupyter TUI (Text-User-Interface)
      - euporie
      # jupytext - Jupyter notebooks as diffable Markdown, Julia or Python
      - jupytext
      # py2nb - Convert python scripts to jupyter
      - py2nb
      # nbconvert - jupyter Notebook Conversion
      - nbconvert
      # nbdime - Diff and merge of Jupyter Notebooks
      - nbdime
      # rise - instantly turn your Jupyter Notebooks into a slideshow
      - rise

    packages:
      ## jupyterlab: extensions, widgets, themes
      # jupyterlab-language-pack-de-de - German (Germany) language pack for JupyterLab
      - jupyterlab-language-pack-de-de
      # jupyterlab-widgets - extensions to use ipywidgets, needs nodejs and npm
      - jupyterlab-widgets
      # jupyterlab-lsp - Coding assistance for JupyterLab with Language Server Protocol
      - jupyterlab-lsp
      # jupyterlab-git - Git extension for JupyterLab
      - jupyterlab-git
      # jupyterlab_code_formatter - A universal code formatter for JupyterLab
      - jupyterlab_code_formatter
      # jupyterlab-execute-time - display cell timings in Jupyter Lab
      - jupyterlab-execute-time
      # ipympl - Matplotlib Jupyter Extension
      - ipympl
      # ipysheet - Spreadsheet in the jupyter notebook
      - ipysheet
      # jupyterlab-geojson - A JupyterLab extension for rendering GeoJSON
      - jupyterlab-geojson
      - jupyterlab-system-monitor
      - jupyterlab-bookmarks-extension
      - jupyterlab-cell-flash
      - jupyterlab-autosave-on-focus-change
      ## jupyterlab themes
      - theme-darcula
      - jupyterlab_materialdarker
{% endload %}

{% set settings=salt['grains.filter_by']({'default': defaults},
    grain='default', default= 'default', merge= salt['pillar.get']('python', {})) %}
