{% load_yaml as defaults %}
master:
  status: absent

  reactor:
    status: absent

  gitcrypt:
    status: present

  extensions:
    status: present
    base: /srv/salt_ext
    modules: /srv/salt/salt-shared/_modules

  config: |
    fileserver_backend:
      - roots
    pillar_roots:
      base:
        - /srv/pillar
    file_roots:
      base:
        - /srv/salt/custom
        - /srv/salt/salt-shared
    file_recv: True

master_d:
  smtp_return:
    smtp:
      from: "saltmaster@localhost"
      to: "root"
      host: localhost
      fields: id,fun,jid

  mine_functions:
    mine_functions:
      test.ping: []
      network.interfaces: []
      network.get_hostname: []
      get_fqdn:
        mine_function: cmd.run_stdout
        cmd: hostname -f

install:
  type: stable
  rev: 2015.8
  # type: git
  # rev: latest
  bootstrap: 'https://raw.githubusercontent.com/saltstack/salt-bootstrap/v2015.11.09/bootstrap-salt.sh'
  bootstrap_hash: 'sha256=a7fe13eb8896ac578cb1e98a22d1c5b1f6f6ba1a5da46cc3680cc8318358b5e5'

{% endload %}

{% set settings=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('salt', {})) %}
