{% load_yaml as defaults %}
emulator:
  image: us-docker.pkg.dev/android-emulator-268719/images/30-google-x64-no-metrics
  tag: 7148297
  # tag: 7148297 is latest (from 17.02.2021)

emulator_build:
  name: android-emulator
  image: localhost/android/emulator
  tag: latest
  type: build
  build:
    source: .
  files:
    build/Dockerfile:
      contents: |
        FROM us-docker.pkg.dev/android-emulator-268719/images/30-google-x64-no-metrics:7148297
        COPY ./launch-emulator.sh /android/sdk/launch-emulator.sh
        RUN chmod +x /android/sdk/launch-emulator.sh
        RUN mv /android-home /android-home-default
        RUN sed -r -i -e "s/^disk.dataPartition.size=.+//g" /android-home-default/Pixel2.avd/config.ini
        RUN install -o 1000 -g 1000 -m "777" -d /android-home
    build/launch-emulator.sh:
      source: salt://android/emulator/launch-emulator.sh

emulator_desktop:
  name: android-emulator-desktop
  image: localhost/android/emulator
  type: desktop
  desktop:
    template: host
    options:
      - --group-add kvm
    entry:
      Comment: Android Emulator Desktop Version
      Terminal: "true"
      Icon: applications-internet
      Categories: Network;
      Keywords: android;emulator;
  environment:
    NO_FORWARD_LOGGERS: "true"
    NO_PULSE_AUDIO: "false"
    AVD_DATA_SIZE: "disk.dataPartition.size=536870912"
    EMULATOR_PARAMS: "-accel on -no-snapshot -no-boot-anim -gpu swiftshader_indirect -memory 2048"
    ADD_EMULATOR_PARAMS: ""
  labels:
    android: emulator
  storage:
    - name: ${SERVICE_NAME}_data
  volumes:
    - ${SERVICE_NAME}_data:/android-home
  publish:
    - 127.0.0.1:8554:8554/tcp
    - 127.0.0.1:5555:5555/tcp
  options:
    - --device /dev/kvm

emulator_headless_service:
  name: android-emulator-headless
  image: localhost/android/emulator
  type: service
  environment:
    NO_FORWARD_LOGGERS: "true"
    NO_PULSE_AUDIO: "true"
    AVD_CONFIG: "disk.dataPartition.size=536870912"
    EMULATOR_PARAMS: "-nowindow -accel on -no-snapshot -no-boot-anim -gpu swiftshader_indirect -memory 2048"
    ADD_EMULATOR_PARAMS: ""
  storage:
    - name: ${SERVICE_NAME}_data
  volumes:
    - ${SERVICE_NAME}_data:/android-home
  publish:
    - 127.0.0.1:8554:8554/tcp
    - 127.0.0.1:5555:5555/tcp
  options:
    - --device /dev/kvm

emulator_webrtc_service:
  name: android-emulator-webrtc
  image: localhost/android/emulator
  type: service

{% endload %}

{% set settings=salt['grains.filter_by']({'default': defaults},
    grain='default', default= 'default', merge= salt['pillar.get']('android', {})) %}
