[Unit]
Description=Grafana Frontend
After=docker.service
ConditionPathExists=/volatile/grafana
ConditionPathExists=/app/etc/flags/metric.gui
Requires=docker.service
OnFailure=service-failed@%n.service
StartLimitInterval=300
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=5min
TimeoutStopSec=15
ExecStartPre=-/usr/bin/docker kill %n.service
ExecStartPre=-/usr/bin/docker rm %n.service
ExecStartPre=/usr/bin/docker pull grafana/grafana
ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    -p 127.0.0.1:3000:3000 \
    --net bridge \
    -v /app/grafana:/var/lib/grafana \
    --env GF_SECURITY_ADMIN_PASSWORD=foobar \
    --env GF_USERS_ALLOW_SIGN_UP=false \
    --env GF_DASHBOARDS_JSON_ENABLED=false \
    --env GF_DASHBOARDS_JSON_PATH=/var/lib/grafana/dashboards \
    grafana/grafana

[Install]
WantedBy=multi-user.target
