[Unit]
Description=Prometheus Node Exporter
After=docker.service
ConditionPathExists=/volatile/prometheus
ConditionPathExists=/app/etc/flags/metric.server
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull prom/prometheus
ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    -p {{ salt['pillar.get']('docker:ip') }}:9090:9090 \
    --net bridge \
    -v /app/etc/prometheus.yml:/etc/prometheus.yml \
    -v /app/etc/alert.rules:/etc/alert.rules \
    -v /app/prometheus:/data \
    prom/prometheus \
    -config.file=/etc/prometheus.yml \
    -storage.local.path=/data \
    -storage.local.memory-chunks=262144 \
    -storage.local.chunk-encoding-version=1 \
    -alertmanager.url=http://{{ salt['pillar.get']('docker:ip') }}:9093

Restart=on-failure
RestartSec=30
TimeoutStartSec=5min
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
