{% load_yaml as defaults %}
service:
  gui:
    enabled: true
  metric:
    exporter:
      enabled: true
    server:
      enabled: true
    alerting:
      enabled: true
  logging:
    exporter:
      enabled: true
    server:
      enabled: true
    fail2ban:
      enabled: true

compose:
  gui:
    name: metriclogging-node-gui
    source: salt://app/metriclogging/compose/node-gui.yml

  metric:
    name: metriclogging-node-metric
    source: salt://app/metriclogging/compose/node-metric.yml

  exporter:
    name: metriclogging-node-exporter
    source: salt://app/metriclogging/compose/node-exporter.yml
    systemd:
      wants: postgresql.service
      restart: on-success
    files: {}
    environment: {}

  logging:
    name: metriclogging-node-logging
    source: salt://app/metriclogging/compose/node-logging.yml

{% endload %}
