{% load_yaml as defaults %}
enabled: true
tang:
  ssl_ca:
  ssl_port:

slot:
  - type: sss
    config:
      t: 1
      pins:
        tang:
        - url: "addr1"
        - url: "addr2"
          adv: {}
        tpm2:
        - hash: "sha256"
          key: "ecc
        sss:
        - t:1
          pins:
            tang:
            - url: "addr3"
  - type: tang
    config:
      url: "addr"
  - type: tpm2
    config:
      hash: sha256
      key: ecc
      pcr_bank: sha1
      pcr_ids: 7
{% endload %}

{% set settings=salt['grains.filter_by']({'default': defaults},
  grain='default', default= 'default', merge= salt['pillar.get']('clevis', {})) %}
