# {{ pillar['message_do_not_modify'] }}

upstream sentry {
    server unix:///var/lib/uwsgi/sentry.sock;
}

server {
    listen 80;
{% if ssl|default(False) %}
    listen 443 ssl;
    ssl_certificate /usr/local/sentry/ssl.pem;
    ssl_certificate_key /usr/local/sentry/ssl.pem;
    ssl_client_certificate /usr/local/sentry/ca.crt;
    ssl_ciphers ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP:+eNULL;
{% endif %}

    server_name {{ address }};

    root /usr/local/sentry;

    location /_admin_media/ {
        expires 1h;
        autoindex off;
        alias /usr/local/sentry/lib/python2.7/site-packages/django/contrib/admin/static/;
    }

    location /_static/ {
        expires 1h;
        autoindex off;
        alias /usr/local/sentry/lib/python2.7/site-packages/sentry/static/;
    }

    location / {
        {#  rewrite ^/favicon.ico$ /media/images/favicon.ico last;#}
        uwsgi_pass sentry;
        include uwsgi_params;
    }

}
