{% load_yaml as defaults %}
lang: en
flavor: us
location: World
timezone: UTC
additional:
posix_messages: true
{% endload %}

{% set merged_defaults=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('locale', {})) %}

{% set settings = namespace({
    'lang': merged_defaults.lang+ '_'+ merged_defaults.flavor|upper+ '.UTF-8',
    'language': merged_defaults.lang+ '_'+ merged_defaults.flavor|upper+ ':'+ merged_defaults.lang,
    'language_code': merged_defaults.lang+ '-'+ merged_defaults.flavor,
    'timezone': merged_defaults.timezone,
    'location': merged_defaults.location,
    'additional': '',
    })
%}
{% if merged_defaults.posix_messages %}
  {% set settings.messages = 'POSIX') %}
{% else %}
  {% set settings.messages = settings['lang']) %}
{% endif %}
{% for x in merged_defaults.additional.split(' ') %}
  {% set l = x.split(':')[0] %}
  {% set c = x.split(':')[1] %}
  {% set tobeadded = l+ '_'+ c|upper()+ '.UTF-8' %}
  {% set settings.additional= settings.additional+ tobeadded %}
{% endfor %}
