{% load_yaml as defaults %}
lang: en:us
location: World
timezone: UTC
additional:
posix_messages: true
{% endload %}

{% set merged_defaults=salt['grains.filter_by']({'none': defaults},
  grain='none', default= 'none', merge= salt['pillar.get']('locale', {})) %}

{% set merged_defaults.lang_name= merged_defaults.lang.split(':')[0] %}
{% set merged_defaults.lang_country= merged_defaults.lang.split(':')[1] %}
{% if not merged_defaults.language|d(false) %}
{% set merged_defaults.language= merged_defaults.lang_name+ '_'+ merged_defaults.lang_country|upper+ ':'+ merged_defaults.lang_name %}
{% endif %}

{% set settings = namespace({
    'lang': merged_defaults.lang_name+ '_'+ merged_defaults.lang_country|upper+ '.UTF-8',
    'language': merged_defaults.language,
    'language_code': merged_defaults.lang_name+ '-'+ merged_defaults.lang_country,
    'timezone': merged_defaults.timezone,
    'location': merged_defaults.location,
    'additional': '',
    })
%}
{% if merged_defaults.posix_messages %}
  {% set settings.messages = 'POSIX') %}
{% else %}
  {% set settings.messages = settings['lang']) %}
{% endif %}
{% for x in merged_defaults.additional.split(' ') %}
  {% set l = x.split(':')[0] %}
  {% set c = x.split(':')[1] %}
  {% set tobeadded = l+ '_'+ c|upper()+ '.UTF-8' %}
  {% set settings.additional= settings.additional+ tobeadded %}
{% endfor %}
