# Templated service file for redis-server(1)
#
# $ systemctl start redis-server@myname.service
# $ redis-cli -s /run/redis-myname/redis-server.sock info

[Unit]
Description=Redis-Server (%I)
After=network.target
Documentation=http://redis.io/documentation, man:redis-server(1)

[Service]
Type=notify

# defaults
Environment=user=redis
Environment=bind=127.0.0.1 ::1
Environment=port=0
Environment=unixsocket=/run/redis-i%/redis-server.sock
Environment=unixsocketperm=700
Environment=dir=/var/lib/${user}/redis-i%
Environment=dir_perm=0750
Environment=dbfilename=dump-%i.rdb
Environment=databases=8
Environment=maxmemory=128mb
Environment=maxmemory-policy=volatile-lru
Environment=runtime_name=redis-%i
Environment=runtime_dir=/run/redis-%i
Environment=runtime_perm=2755

# overwrite environment from file
EnvironmentFile=/etc/systemd/system/redis-server-i%.env

# create working_dir
ExecStartPre=/usr/bin/install -m ${dir_perm} -o ${user} -g ${user} -d ${dir}

# start redis-server without config file, just use cmdline
ExecStart=/usr/bin/redis-server --supervised systemd --daemonize no --logfile "" \
  --bind ${bind} --port ${port} \
  --unixsocket ${unixsocket} --unixsocketperm ${unixsocketperm} \
  --dir ${dir} --dbfilename ${dbfilename} --databases ${databases} \
  --maxmemory ${maxmemory} --maxmemory-policy ${maxmemory-policy}

Restart=always
User=${user}
Group=${user}
RuntimeDirectory=${runtime_name}
RuntimeDirectoryMode=${runtime_perm}
WorkingDirectory=${dir}

UMask=007
LimitNOFILE=65535
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ReadOnlyDirectories=/
ReadWritePaths=-${dir}
ReadWritePaths=-${runtime_dir}

NoNewPrivileges=true
CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_SYS_RESOURCE
MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
ProtectSystem=full

[Install]
WantedBy=multi-user.target
